@import "downloadPop.css";

.base_mainContent {
    padding: 20px;
}
/*头部*/
.header
{
    width: 100%;
}
/*搜索*/

#addExperience
{
    float: left;
    height: 34px;
    background-color: #3a7bd5;
    margin: 20px 0 20px 0;
    font: normal normal normal 14px/30px 'Microsoft YaHei';
    letter-spacing: -0.3px;
    color: #ffffff;
    border: none;
    text-align: center;
}


/*table*/
.content
{
    width: 100%;
}

.tab_div {
    border-bottom: 1px solid #e8e8e8;
}

.tab_type{
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.tab_active{
    border-bottom: 2px solid #2e64cb;
}


.goodsName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 240px;
}