.upload_title {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 20px;
    font-size: 18px;
}

.upload_item_div {
    position: relative;
    margin-top: 35px;
    padding-left: 20px;
}

.upload_item_link{
    display: block;
    position: absolute;
    left: 310px;
    top: 0;
    color: #2a75ed;
}

.upload_item_link:hover{
    color: #2e64cd;
}
.upload_item_title {
    width: 120px;
    display: inline-block;
    line-height:34px;
}

.upload_input_div {
    display: inline-block;
    vertical-align: top;
}
.upload_input_msg {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(184, 184, 184);
}
.upload_input_msg a{
    color: #2a75ed;;
}
.upload_input_msg a:hover{
    color: #2E64CB;
}

.selectPrice {
    width: 180px;
    height: 36px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #e1e6f0;
}

/*选择分类导航 - start*/
.category {
    padding-top: 0;
    height: 20px;
}
.checkBoxWrapper {
    display: inline-block;
    margin-left: 60px;
    height: 20px;
    vertical-align: top;
}
.radio_label {
    margin:0 20px 0 0;
}


/*参考-  start*/
input.radio_category {
    vertical-align: top;
    width: 14px;
    height: 0px;
    background-color: #000;
    margin-right: 10px;
    position: relative;
}
.radio_category:before,.radio_category:after {
    content: '';
    display: block;
    position: absolute;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
}
.radio_category:before {
    top: 0px;
    left: 0px;
    width: 14px;
    height: 14px;
    background-color: #fff;
}
.radio_category:after {
    content: "√";
    font-size: 7px;
    color: white;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
}
.radio_category:checked:after {
    background-color:#2A75EC;
}
.radio_category:checked:before {
    border-color:#2A75EC;
}
/*参考-  end*/

/*选择分类导航 - end*/

.upload_input_prompt {
    margin-top: -3px;
    font-size: 12px;
    color: #d3afaf;
}

.upload_type {
    width: 60px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e8e8e8;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.border_blue{
    border: 1px solid #2e64cb;
}


.upload_button_div {
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.upload_button {
    margin: 30px 0 98px 150px;
    width: 100px;
    height: 36px;
}

.cancel_button_div{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.pic_div {
    display: inline-block;
    width: 135px;
    height: 100px;
    /*background-color: #d8d8d8;*/
    position: relative
}
.sign_div {
    display: inline-block;
    width: 150px;
    height: 200px;
    /*background-color: #d8d8d8;*/
    position: relative
}

.pic_div_banner {
    display: inline-block;
    width: 268px;
    height: 100px;
    /*background-color: #d8d8d8;*/
    position: relative
}

.pic_input {
    position: absolute;
    opacity: 0;
    width: 135px;
    height: 100px
}

.pic_input_banner {
    position: absolute;
    opacity: 0;
    width: 268px;
    height: 100px
}

.pic_close {
    position: absolute;
    left: 130px;
    top: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pic_upload {
    /*position: absolute;*/
    /*left: 130px;*/
    /*top: 90px;*/
    width: 32px;
    /*height: 20px;*/
    /*cursor: pointer;*/
}

.pic_upload_success{
    /*position: absolute;*/
    /*left: 130px;*/
    /*top: 90px;*/
    width: 32px;
    /*height: 20px;*/
    /*cursor: pointer;*/
}

.pic_close_banner {
    position: absolute;
    left: 260px;
    top: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pic_add {
    width: 100%;
    height: 100%;
}

.pic_show {
    width: 100%;
    height: 100%;
}

.price_unit{
    margin-left: 5px;
}

/*日签*/
.sign_close {
    position: absolute;
    left: 170px;
    top: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.sign_add {
    width: 150px;
    height: 200px;
}
.sign_show {
    width:150px;
    height: 200px;
}



.desc_height{
    height: 100px!important;
}




/*视频上传进度*/
.progress_div {
    margin-top: 10px;
}

.progress_bar {
    width: 200px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: none;
    /*display: inline-block;*/
}

.bar {
    width: 0px;
    height: 8px;
    border-radius: 5px !important;
    background: #5EC4EA;
    display: block;
}
.delete{
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}
.delete:hover{
    color:#2c9de4;
}

.upload_finish {
    font-size: 12px;
    display: none
}
/*视频上传进度*/

.fileWrapper {
    width: 500px;
}
.fileInputText {
    width: 500px;
}
.name-progress {
    border: 1px solid #ccc;
}

/*试听*/
.btn_tryAudio{
    height: 34px;
    width: 82px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(173, 173, 173);
}

.audio_tryUrl{
    background: none;
    width: 500px;
    height: 34px;
    padding: 0 5px;
    margin-top: 0px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    line-height: 34px;
}

.audio_noEffectUrl{
    background: none;
    width: 500px;
    height: 34px;
    padding: 0 5px;
    margin-top: 0px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    line-height: 34px;
}

.tyr_Url{
    padding: 0;
    font-size: 12px;
    border: none;
    background: none;
    width: 40%;
    outline: none;
}

.btn_cancelTry{
    margin-right: 0;
    float: right;
    display: inline-block;
    height: 34px;
    border: none;
    padding: 0px;
    background: none;
    color: blue;
    outline: none;
}

.btn_cancelNoEffect{
    margin-right: 0;
    float: right;
    display: inline-block;
    height: 34px;
    border: none;
    padding: 0px;
    background: none;
    color: blue;
    outline: none;
}
.package_side_pay
{
    margin-top: 20px;
}
.single_pay
{

}
.checkbox-img
{
    width: 14px;
    height: 14px;
    background: url(/images/radio_checkbox.png) -78px 0;
    display: inline-block;
}
.single_price_div
{
    width: 200px;
    float: right;
    height: 36px;
    margin-top: -8px;
}
.single_long
{
    width: 180px;
}
/*自定义单选按钮*/

.rdoBox{
    display: inline-block;
    line-height: 34px;
    margin-right: 20px;
}
.rdoBox label{
    line-height: 34px;
    margin-bottom: 0;
    vertical-align: middle;
}

.rdoBox .rdo{
    width: 0px;
    height: 0px;
    opacity: 0;
    margin:0;
    visibility: hidden;

}
.rdoSelf{
    border-radius: 50%;
    position: relative;
    width: 16px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #000;
}
.rdoSelf:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 0;
    height: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.rdo:checked + .rdoSelf:after {
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    background-color:#2A75EC;
}