.shortVessel{
    padding:50px 0 0 100px;
}
.shortInput{
    width: 580px;
    height: 36px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    padding-left: 10px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.shortTitle{
    font-size: 18px;
    font-weight: 600;
    color: #353535;
}
.shortTip{
    font-size: 12px;
    text-align: justify;
    color: #888888;
}
.displayVessel{
    margin-top:30px;
}
.displayVessel span.success{
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #2fce63;
    margin-bottom: 18px;
}
.displayVessel span.error{
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #fb6161;
    /*margin-bottom: 18px;*/
}
.clip{
    border-radius: 2px;
    border: solid 1px #2a75ed;
    background-color: #fff;
    color: #2a75ed;
    display: inline-block;
    height: 24px;
    padding:0 6px;
    line-height: 22px;
    cursor: pointer;
}
.clip:focus{
    outline-color: #ff1352;
    outline-style: auto;
    outline-width:2px;
}
.shortContent{
    margin-top:18px;
}
.frame{
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 1px solid #e5e5e5;
    vertical-align: top;
    margin: 0 31px 0 22px;
    padding:10px;
}

.shortUrl{
    display: inline-block;
    /*width:159px;*/
    margin-right:10px;
}