


.baseItemWrapper {
    width: 100%;
    margin-top: 30px;
}
.baseItemTitle {
    height: 36px;
}

.baseItemSummary {
    height: 72px;
}
.baseItemCover {
    height: 150px;
}
.baseItemEavesdrop {
    height: 36px;
}
.baseItemShareRatio {
    height: 190px;
}
.baseItemResShow {
    height: 100px;
}

.baseTitleLeft {
    width: 178px;
    height: 36px;
    line-height: 36px;
    padding-left: 50px;
    float: left;
    font-size: 14px;
    color: #353535;
}
.starIcon {
    color: #e64340;
    margin-left: 3px;
}
.baseContentRight {
    float: left;

}
.contentSummaryArea {
    width: 520px;
    height: 72px;
    float: left;
}

/*图片预览与上传*/
.previewPic {
    float: left;
    width: 200px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f7f8f9;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0;
}

.previewPic img {
    border: none;
    width: 100%;
    height: 100%;
}
.previewInfo {
    float: left;
    margin: 0 0 0 20px;
}
.upLoadImageBtn {
    margin-bottom: 10px;
}
.coverUpTip {
    height: 17px;
    font-size: 12px;
    color: #888888;
}
.sharer {
    height: 36px;
    margin-bottom: 20px;
}
.sharer span {
    width: 62px;
    height: 36px;
    float: left;
    line-height: 36px;
}

.sharer input {
    width: 80px;
    margin: 0 10px 0 0;
}

.EavesdropPriceInput {
    width: 160px;
    margin: 0 10px 0 0;
}

.shareRatioTip {
    height: 17px;
    font-size: 12px;
    color: #888888;
}

.radioGroup div:first-child {
    margin-bottom: 13px;
}
.radioGroup label.isQAShowLabel {
    height: 20px;
    padding-left: 30px;
}

.horizontalDivideLine {
    height: 1px;
    margin: 0 30px 0;
    background-color: #f2f2f2;
}

.createResource {
    margin: 20px 0 80px 180px;
}





